In [1]:
import ipywidgets as widgets
from IPython.display import display
from ipywidgets import interact
import pandas as pd
import psycopg2 as pg
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
cnx = 'postgresql://postgres:bella1011@localhost/empresa'
sqlalchemy.create_engine(cnx)

Engine(postgresql://postgres:***@localhost/empresa)

In [3]:
%reload_ext sql

In [4]:
%sql postgresql://postgres:bella1011@localhost/empresa

'Connected: postgres@empresa'

In [10]:
con = pg.connect(host='localhost', dbname= 'empresa', user='postgres', password= 'sua senha aqui')

In [11]:
#formulario de insercao

pnome = widgets.Text(
    value='',
    placeholder='Digite seu primeiro nome',
    description='Primeiro Nome: ',
    disabled=False
)

minicial = widgets.Text(
    value='',
    placeholder='Digite sua inicial do meio',
    description='Inicial do Meio: ',
    disabled=False
)

unome = widgets.Text(
    value='',
    placeholder='Digite seu último nome',
    description='Último Nome: ',
    disabled=False
)

cpf = widgets.Text(
    value='',
    placeholder='Digite seu CPF',
    description='CPF: ',
    disabled=False
)

datanasc = widgets.DatePicker(
    description='Data de Nascimento:',
    disabled=False
)

endereco = widgets.Text(
    value='',
    placeholder='Digite seu endereço completo',
    description='Endereço: ',
    disabled=False
)

sexo = widgets.RadioButtons(
    options=['M', 'F', 'Não Informado'],
    description='Sexo:',
    disabled=False
)

salario = widgets.FloatText(
    value = 0,
    description='Salario: ',
    disabled=False
)

cpf_supervisor = widgets.Text(
    value='',
    placeholder='Digite o CPF',
    description='CPF Supervisor: ',
    disabled=False
)

dnr = widgets.FloatText(
    value = 0,
    description='Numero Departamento: ',
    disabled=False
)

rg = widgets.Text(
    value='',
    placeholder='Digite o RG',
    description='RG: ',
    disabled=False
)

In [20]:
button = widgets.Button(description="Click Me!", value='')
output = widgets.Output()

def on_button_clicked(b):
        cur = con.cursor()
        cur.execute("insert into empresa.funcionario (pnome, minicial, unome, cpf, datanasc, endereco, sexo, salario, cpf_supervisor, dnr, rg) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", (pnome.value, minicial.value, unome.value, cpf.value, datanasc.value, endereco.value, sexo.value, salario.value, cpf_supervisor.value, dnr.value, rg.value))
        cur.query
        con.commit()
        df = pd.read_sql("select * from empresa.funcionario", con)
        display(df)

button.on_click(on_button_clicked)

In [22]:
display(pnome, minicial, unome, cpf, datanasc, endereco, sexo, salario, cpf_supervisor, dnr, rg, button)

Text(value='livia', description='Primeiro Nome: ', placeholder='Digite seu primeiro nome')

Text(value='a', description='Inicial do Meio: ', placeholder='Digite sua inicial do meio')

Text(value='almada', description='Último Nome: ', placeholder='Digite seu último nome')

Text(value='553656', description='CPF: ', placeholder='Digite seu CPF')

DatePicker(value=datetime.date(1999, 5, 12), description='Data de Nascimento:')

Text(value='rua m', description='Endereço: ', placeholder='Digite seu endereço completo')

RadioButtons(description='Sexo:', index=1, options=('M', 'F', 'Não Informado'), value='F')

FloatText(value=3000.0, description='Salario: ')

Text(value='2655623', description='CPF Supervisor: ', placeholder='Digite o CPF')

FloatText(value=3.0, description='Numero Departamento: ')

Text(value='69522552', description='RG: ', placeholder='Digite o RG')

Button(description='Click Me!', style=ButtonStyle())

,pnome,minicial,unome,cpf,datanasc,endereco,sexo,salario,cpf_supervisor,dnr,rg
0,Fernando,T,Wong,33344555587,1955-12-06,"Rua da Lapa, 34, São Paulo, SP",M,40000.0,None,5.0,None
1,João,B,Silva,12345678966,1985-01-09,"R Flores 781, São Paulo, SP",M,30000.0,33344555587,5.0,None
2,Alice,J,Zelaya,99988777767,1968-01-19,"R Lima, 35, Curitiba, PR",F,25000.0,12345678966,4.0,None
3,Barbara,A,Silva,11122233355,None,Rua x,None,NaN,None,NaN,None
4,Alice,L,Oliveira,123852951,1995-06-05,"Rua dos Tolos, 00",F,1500.0,321952357,5.0,85235778
5,Juliette,L,Oliveira,123852951,1995-06-05,"Rua dos Tolos, 00",F,1500.0,321952357,5.0,85235778
6,Juliana,L,Oliveira,123852951,1995-06-05,"Rua dos Tolos, 00",F,1500.0,321952357,5.0,85235778
7,Juliette,L,Oliveira,123852951,1995-06-05,"Rua dos Tolos, 00",F,1500.0,321952357,5.0,85235778
8,Juliette,L,Oliveira,123852951,1995-06-05,"Rua dos Tolos, 00",F,1500.0,321952357,5.0,85235778
9,Juliette,L,Oliveira,8226,1995-06-05,"Rua dos Tolos, 00",F,1500.0,321952357,5.0,85235778
10,Alice,L,Oliveira,123852951,1995-06-05,"Rua dos Tolos, 00",F,1500.0,321952357,5.0,85235778
11,Julieta,L,Oliveira,822666,1995-06-05,"Rua dos Tolos, 00",F,1500.0,321952357,5.0,85235778
12,Alice,L,Oliveira,123852951,1995-06-05,"Rua dos Tolos, 00",F,1500.0,321952357,5.0,85235778
13,Julieta,L,Madrigal,822666,1995-06-05,"Rua dos Tolos, 00",F,1500.0,321952357,5.0,85235778
14,Pepa,L,Madrigal,822666,1995-06-05,"Rua dos Tolos, 00",F,1500.0,321952357,5.0,85235778
15,Pepa,L,Madrigal,822666,1995-06-05,"Rua dos Tolos, 00",F,1500.0,321952357,5.0,85235778
16,Pepa,L,Madrigal,822666,1995-06-05,"Rua dos Tolos, 00",F,1500.0,321952357,5.0,85235778
17,Pepa,L,Madrigal,822666,1995-06-05,"Rua dos Tolos, 00",F,1500.0,321952357,5.0,85235778
18,Pepa,L,Madrigal,822666,1995-06-05,"Rua dos Tolos, 00",F,1500.0,321952357,5.0,85235778
19,bruno,L,Madrigal,822666,1995-06-05,"Rua dos Tolos, 00",F,1500.0,321952357,5.0,85235778
20,Pepa,L,Madrigal,822666,1995-06-05,"Rua dos Tolos, 00",F,1500.0,321952357,5.0,85235778
21,Pepa,L,Madrigal,822666,1995-06-05,"Rua dos Tolos, 00",F,1500.0,321952357,5.0,85235778
22,Pepa,L,Madrigal,822666,1995-06-05,"Rua dos Tolos, 00",F,1500.0,321952357,5.0,85235778
23,Pepa,L,Madrigal,822666,1995-06-05,"Rua dos Tolos, 00",F,1500.0,321952357,5.0,85235778
24,mirabel,a,madrigal,57545415,1999-12-30,rua v,F,3000.0,654165465,2.0,4641654
25,luisa,m,mdrigal,5475,1999-02-01,rua m,M,1800.0,93625,5.0,12368
26,luisa,m,mdrigal,9856247,1999-02-01,rua m,M,1800.0,93625,5.0,12368
27,,,,,None,,M,0.0,,0.0,
28,livia,a,almada,553656,1999-05-12,rua m,F,3000.0,2655623,3.0,69522552
29,livia,a,almada,553656,1999-05-12,rua m,F,3000.0,2655623,3.0,69522552