In [10]:
import ipywidgets as widgets
from IPython.display import display
from ipywidgets import interact
import pandas as pd
import psycopg2 as pg
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
cnx = 'postgresql://postgres:bella1011@localhost/empresa'
sqlalchemy.create_engine(cnx)

Engine(postgresql://postgres:***@localhost/empresa)

In [3]:
%reload_ext sql

In [4]:
%sql postgresql://postgres:bella1011@localhost/empresa

'Connected: postgres@empresa'

In [5]:
con = pg.connect(host='localhost', dbname= 'empresa', user='postgres', password= 'bella1011')

In [7]:
#formulario de insercao

pnome = widgets.Text(
    value='',
    placeholder='Digite seu primeiro nome',
    description='Primeiro Nome: ',
    disabled=False
)

minicial = widgets.Text(
    value='',
    placeholder='Digite sua inicial do meio',
    description='Inicial do Meio: ',
    disabled=False
)

unome = widgets.Text(
    value='',
    placeholder='Digite seu último nome',
    description='Último Nome: ',
    disabled=False
)

cpf = widgets.Text(
    value='',
    placeholder='Digite seu CPF',
    description='CPF: ',
    disabled=False
)

datanasc = widgets.DatePicker(
    description='Data de Nascimento:',
    disabled=False
)

endereco = widgets.Text(
    value='',
    placeholder='Digite seu endereço completo',
    description='Endereço: ',
    disabled=False
)

sexo = widgets.RadioButtons(
    options=['M', 'F', 'Não Informado'],
    description='Sexo:',
    disabled=False
)

salario = widgets.FloatText(
    value = 0,
    description='Salario: ',
    disabled=False
)

cpf_supervisor = widgets.Text(
    value='',
    placeholder='Digite o CPF',
    description='CPF Supervisor: ',
    disabled=False
)

dnr = widgets.FloatText(
    value = 0,
    description='Numero Departamento: ',
    disabled=False
)

rg = widgets.Text(
    value='',
    placeholder='Digite o RG',
    description='RG: ',
    disabled=False
)

In [12]:
button = widgets.Button(description="Click Me!", value='')
output = widgets.Output()

def on_button_clicked(b):
        cur = con.cursor()
        cur.execute("insert into empresa.funcionario (pnome, minicial, unome, cpf, datanasc, endereco, sexo, salario, cpf_supervisor, dnr, rg) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", (pnome.value, minicial.value, unome.value, cpf.value, datanasc.value, endereco.value, sexo.value, salario.value, cpf_supervisor.value, dnr.value, rg.value))
        cur.query
        con.commit()

button.on_click(on_button_clicked)

In [13]:
display(pnome, minicial, unome, cpf, datanasc, endereco, sexo, salario, cpf_supervisor, dnr, rg, button)

Text(value='luisa', description='Primeiro Nome: ', placeholder='Digite seu primeiro nome')

Text(value='m', description='Inicial do Meio: ', placeholder='Digite sua inicial do meio')

Text(value='mdrigal', description='Último Nome: ', placeholder='Digite seu último nome')

Text(value='5475', description='CPF: ', placeholder='Digite seu CPF')

DatePicker(value=datetime.date(1999, 2, 1), description='Data de Nascimento:')

Text(value='rua m', description='Endereço: ', placeholder='Digite seu endereço completo')

RadioButtons(description='Sexo:', options=('M', 'F', 'Não Informado'), value='M')

FloatText(value=1800.0, description='Salario: ')

Text(value='93625', description='CPF Supervisor: ', placeholder='Digite o CPF')

FloatText(value=5.0, description='Numero Departamento: ')

Text(value='12368', description='RG: ', placeholder='Digite o RG')

Button(description='Click Me!', style=ButtonStyle())

In [14]:
%%sql
select * from empresa.funcionario

 * postgresql://postgres:***@localhost/empresa
27 rows affected.

[('Fernando', 'T', 'Wong', '33344555587', datetime.date(1955, 12, 6), 'Rua da Lapa, 34, São Paulo, SP', 'M', Decimal('40000'), None, 5, None),
 ('João', 'B', 'Silva', '12345678966', datetime.date(1985, 1, 9), 'R Flores 781, São Paulo, SP', 'M', Decimal('30000'), '33344555587', 5, None),
 ('Alice', 'J', 'Zelaya', '99988777767', datetime.date(1968, 1, 19), 'R Lima, 35, Curitiba, PR', 'F', Decimal('25000'), '12345678966', 4, None),
 ('Barbara', 'A', 'Silva', '11122233355', None, 'Rua x', None, None, None, None, None),
 ('Alice', 'L', 'Oliveira', '123852951', datetime.date(1995, 6, 5), 'Rua dos Tolos, 00', 'F', Decimal('1500'), '321952357', 5, '85235778'),
 ('Juliette', 'L', 'Oliveira', '123852951', datetime.date(1995, 6, 5), 'Rua dos Tolos, 00', 'F', Decimal('1500'), '321952357', 5, '85235778'),
 ('Juliana', 'L', 'Oliveira', '123852951', datetime.date(1995, 6, 5), 'Rua dos Tolos, 00', 'F', Decimal('1500'), '321952357', 5, '85235778'),
 ('Juliette', 'L', 'Oliveira', '123852951', datetime.date(1995, 6, 5), 'Rua dos Tolos, 00', 'F', Decimal('1500'), '321952357', 5, '85235778'),
 ('Juliette', 'L', 'Oliveira', '123852951', datetime.date(1995, 6, 5), 'Rua dos Tolos, 00', 'F', Decimal('1500'), '321952357', 5, '85235778'),
 ('Juliette', 'L', 'Oliveira', '8226', datetime.date(1995, 6, 5), 'Rua dos Tolos, 00', 'F', Decimal('1500'), '321952357', 5, '85235778'),
 ('Alice', 'L', 'Oliveira', '123852951', datetime.date(1995, 6, 5), 'Rua dos Tolos, 00', 'F', Decimal('1500'), '321952357', 5, '85235778'),
 ('Julieta', 'L', 'Oliveira', '822666', datetime.date(1995, 6, 5), 'Rua dos Tolos, 00', 'F', Decimal('1500'), '321952357', 5, '85235778'),
 ('Alice', 'L', 'Oliveira', '123852951', datetime.date(1995, 6, 5), 'Rua dos Tolos, 00', 'F', Decimal('1500'), '321952357', 5, '85235778'),
 ('Julieta', 'L', 'Madrigal', '822666', datetime.date(1995, 6, 5), 'Rua dos Tolos, 00', 'F', Decimal('1500'), '321952357', 5, '85235778'),
 ('Pepa', 'L', 'Madrigal', '822666', datetime.date(1995, 6, 5), 'Rua dos Tolos, 00', 'F', Decimal('1500'), '321952357', 5, '85235778'),
 ('Pepa', 'L', 'Madrigal', '822666', datetime.date(1995, 6, 5), 'Rua dos Tolos, 00', 'F', Decimal('1500'), '321952357', 5, '85235778'),
 ('Pepa', 'L', 'Madrigal', '822666', datetime.date(1995, 6, 5), 'Rua dos Tolos, 00', 'F', Decimal('1500'), '321952357', 5, '85235778'),
 ('Pepa', 'L', 'Madrigal', '822666', datetime.date(1995, 6, 5), 'Rua dos Tolos, 00', 'F', Decimal('1500'), '321952357', 5, '85235778'),
 ('Pepa', 'L', 'Madrigal', '822666', datetime.date(1995, 6, 5), 'Rua dos Tolos, 00', 'F', Decimal('1500'), '321952357', 5, '85235778'),
 ('bruno', 'L', 'Madrigal', '822666', datetime.date(1995, 6, 5), 'Rua dos Tolos, 00', 'F', Decimal('1500'), '321952357', 5, '85235778'),
 ('Pepa', 'L', 'Madrigal', '822666', datetime.date(1995, 6, 5), 'Rua dos Tolos, 00', 'F', Decimal('1500'), '321952357', 5, '85235778'),
 ('Pepa', 'L', 'Madrigal', '822666', datetime.date(1995, 6, 5), 'Rua dos Tolos, 00', 'F', Decimal('1500'), '321952357', 5, '85235778'),
 ('Pepa', 'L', 'Madrigal', '822666', datetime.date(1995, 6, 5), 'Rua dos Tolos, 00', 'F', Decimal('1500'), '321952357', 5, '85235778'),
 ('Pepa', 'L', 'Madrigal', '822666', datetime.date(1995, 6, 5), 'Rua dos Tolos, 00', 'F', Decimal('1500'), '321952357', 5, '85235778'),
 ('mirabel', 'a', 'madrigal', '57545415', datetime.date(1999, 12, 30), 'rua v', 'F', Decimal('3000.0'), '654165465', 2, '4641654'),
 ('luisa', 'm', 'mdrigal', '5475', datetime.date(1999, 2, 1), 'rua m', 'M', Decimal('1800.0'), '93625', 5, '12368'),
 ('luisa', 'm', 'mdrigal', '9856247', datetime.date(1999, 2, 1), 'rua m', 'M', Decimal('1800.0'), '93625', 5, '12368')]